
.metricsWatcher.metric,
.metricsWatcher.counter,
.metricsWatcher.cache {
	border-style: solid;
	border-width: 1px;
	text-align: center;
	margin: 10px 0;
	padding: 10px;
}

.metricsWatcher.metricGraph .progressTable {
	width: 100%;
}

.metricsWatcher .metricGraph .progressLabel {
	text-align: right;
	vertical-align: top;
}

.metricsWatcher .metricGraph .progressValue {
	vertical-align: top;
}

.metricsWatcher.metricGraph .progressBar,
.metricsWatcher .metricGraph .progressBar {
	width: 100%;
}

.metricsWatcher.timerGraph,
.metricsWatcher .timerGraph {
	border-width: 1px;
	text-align: center;
}

.metricsWatcher.cache .metric {
	border-style: solid;
	border-width: 1px;
	margin: 10px 0;
	padding: 10px;
}
.metricsWatcher.cache .metric h3 {
	font-size: 14px;
}
/*
.timerGraph .metricGraph {
	border-style: none;
	margin: 0;
	padding: 0;
}

.cacheGraph .metricGraph {
	padding: 2px 0;
	margin: 5px 0;
}
.cacheGraph .metricGraph h3 {
	font-size: 14px;
}
*/