
.metricsWatcher.metric,
.metricsWatcher.counter,
.metricsWatcher.cache,
.metricsWatcher.jvm {
	border-style: solid;
	border-width: 1px;
	text-align: left;
	margin: 10px 0;
	padding: 10px;
}

.metricsWatcher.metricGraph .progressTable {
	width: 100%;
}

.metricsWatcher .metricGraph .progressLabel {
	text-align: right;
	vertical-align: top;
}

.metricsWatcher .metricGraph .progressValue {
	vertical-align: top;
}

.metricsWatcher.metricGraph .progressBar,
.metricsWatcher .metricGraph .progressBar {
	width: 100%;
}

.metricsWatcher.timerGraph,
.metricsWatcher .timerGraph {
	border-width: 1px;
	text-align: left;
}

.metricsWatcher.cache .metric {
	border-style: none;
	margin: 0;
	padding: 0;
}

.metricsWatcher.cache .gaugeTableContainer {
	border-style: solid;
	border-width: 1px;
	padding: 10px 0;
}
.metricsWatcher.cache table.gaugeTable,
.metricsWatcher.jvm table.jvmTable {
	width: 100%;
}
.metricsWatcher.cache table.gaugeTable td,
.metricsWatcher.jvm table.jvmTable td {
	padding: 5px 15px 5px 15px;
}
.metricsWatcher.cache table.gaugeTable td h5,
.metricsWatcher.jvm table.jvmTable td h5 {
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}
.metricsWatcher table.gaugeTable td,
.metricsWatcher table.jvmTable td {
	font-size: 14px;
	text-align: right;
}

