
.metricsWatcher.metric,
.metricsWatcher.counter,
.metricsWatcher.cache {
	border-style: solid;
	border-width: 1px;
	text-align: center;
	margin: 10px 0;
	padding: 10px;
}

.metricsWatcher.metricGraph .progressTable {
	width: 100%;
}

.metricsWatcher .metricGraph .progressLabel {
	text-align: right;
	vertical-align: top;
}

.metricsWatcher .metricGraph .progressValue {
	vertical-align: top;
}

.metricsWatcher.metricGraph .progressBar,
.metricsWatcher .metricGraph .progressBar {
	width: 100%;
}

.metricsWatcher.timerGraph,
.metricsWatcher .timerGraph {
	border-width: 1px;
	text-align: center;
}

.metricsWatcher.cache .metric {
	border-style: none;
	margin: 0;
	padding: 0;
}

.metricsWatcher.cache .gaugeTableContainer {
	border-style: solid;
	border-width: 1px;
	padding: 10px 0;
}
.metricsWatcher.cache table.gaugeTable {
	width: 100%;
}
.metricsWatcher.cache table.gaugeTable td {
	padding: 5px 15px 5px 15px;
}
.metricsWatcher.cache table.gaugeTable td.rowName h5 {
	font-size: 16px;
	text-align: left;
}
.metricsWatcher table.gaugeTable td.rowValue {
	font-size: 14px;
	text-align: right;
}
